<h1>Seja Bem-vindo!</h1>
<p>O idioma usado nessa aplicação é: <strong><%= locale(I18n.locale) %></strong></p>

<!-- formatando data com helper -->
<!-- <p><strong>Data:</strong> <%= data_br(Date.today) %></p> -->

<!-- Uso do i18n para formatar a data automaticamente -->
<p><strong>Data:</strong> <%= Date.today %></p>

<!-- Partials Menu -->
<%= render 'menu' %>
<!-- Partials Menu -->

<p>Você está em ambiente de <strong><%= ambiente_rails %></strong></p>
<p>Eu sou uma variável de instância/sessão <strong><%= @nome %></strong></p>
<p>Eu sou uma query params <strong><%= @nome_params %></strong></p>

<%# ERB %>
<!-- 
<p>A some é <%= 1 + 1 %></p>
<p>Seu nome de trás pra frente é: <%= "Leandro".reverse %> </p>

<% ax = "minha variavel a" %>
<p>Imprimindo a variavel a: <%= ax %></p>

<ul>
    <li>
        <a href="">Cadastro de Moedas</a>
        <%= link_to "Cadastro de Moedas", coins_path %>
    </li>
</ul>
-->
